<!DOCTYPE html>
<html>

  <head>
  <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>JohnnyProfile</title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <%= csrf_meta_tags %>
  </head>



  <body>

  <% if current_user %>
  <div class="left"> 
       
        <%= current_user.email %><br>
        <!--<%= current_user.first_name %><br>--> 
        <!--<%= link_to "Log Out", logout_path, method: "delete" %><br>-->
       <!-- <%= link_to "Home", root_path %> -->
       
    <% else %> 
       
        <!--<%= link_to "Signup", signup_path %></a>-->
        <!--<%= link_to "Login", 'login' %></a>-->
      <!--  <%= link_to "Home", root_path %>  -->
        
       
    <% end %>
  </div> 
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/messages">Messages</a></li>
      <li><a href="/cool">Cool</a></li>
      <li><a href="/about">About</a></li>
      <li>
        <% if current_user %>

           
            <!--<%= current_user.email %><br>-->
            <!--<%= current_user.first_name %><br>--> 
            <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
           <!-- <%= link_to "Home", root_path %> -->
           
        <% else %> 
           
            <li><%= link_to "Signup", signup_path %></li>
            <li><%= link_to "Login", 'login' %></li>
          <!--  <%= link_to "Home", root_path %>  -->
            
       
    <% end %>

      </li>
    </ul>


      <span style="cursor:crosshair"><h2 id="rcorners2">Johnnys Blogs</h2></span><br>
		

    <%= yield %>

  </body>
</html>
