<!DOCTYPE html>
<html>
  <head>
    <title>JohnnyProfile</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

  <% if current_user %> 
  <ul> 
    <li><%= current_user.email %></li> 
    <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
    <li><%= link_to "Home", root_path %></li> 
  </ul> 
<% else %> 
  <ul> 
    <li><%= link_to "Signup", signup_path %></a></li> 
    <li><%= link_to "Login", 'login' %></a></li>
    <li><%= link_to "Home", root_path %></li>  
    
  </ul> 
<% end %>


		<p>Johnnys Blog starts****************************************</p>

    <%= yield %>

    <p>Johnnys Blog end*******************************************</p>


  </body>
</html>
